div.Cabecera {
    margin-top: 40px;
    font-family: var(--fuente-letra-main);
}

h1 {
    display: grid;
    place-items: center;
    font-size: 3em;
    color: #545454;
}

div.Cabecera input {
    margin-left: 13%;
    font-family: var(--fuente-letra-main);
    font-size: 1em;
}

div.Cabecera p {
    margin-left: 13%;
    font-size: 1em;
}

.root {
    --fuente-letra-main: 'Times New Roman', Times, serif;
}

hr {
    height: 5px;
    width: 77%;
    background-color: black;
}

nav ul {
    margin-left: 30%;
    padding: 0;
    font-family: var(--fuente-letra-main);
    font-size: 20px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

section {
    font-family: var(--fuente-letra-main);
}

#Titular_principal {
    margin-top: 2%;
    margin-left: 14%;
    margin-right: 12%;
}

#Titular_principal a{
    text-decoration: none;
    color: #000;
    font-size: 36px;
}

.Titulo_seccion {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.Nacional div.Titulo_seccion{
    background-color: #004AAD;
    font-size: 25px;
}

.Deportes div.Titulo_seccion{
    background-color: #FF5757;
    font-size: 25px;
}

.Titulo_articulo {
    font-size: 25px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
}

.Nacional, .Deportes {
    padding: 10px;
    margin: 10px 200px 0;
}

img.portada_noticia {
    width: 355px;
    height: 200px;
    margin-right: 10px;
    margin-top: 20px;
}

article {
    display: flex;
    align-items: flex-start;
}

.Desc_articulo {
    font-size: 17px;
}

footer {
    background-color: #D9D9D9;
    display: grid;
    place-items: center;
    padding: 10px;
}